In [25]:
#import pandas as pd
from pandas import Series,DataFrame
data = {'Chinese': [66, 95, 93, 90,80], 'Math': [65, 76, 86, 88, 90], 'English': [30, 98, 88, 77, 90]}
df1 = DataFrame(data)
df2 = DataFrame(data, index=['ZhangFei', 'GuanYu', 'LiuBei', 'DianWei', 'XuChu'], columns=['Chinese', 'Math', 'English'])
print(df1)
print(df2)
#print(df2.describe())
print(df2.mean(),df2.min(),df2.max(),df2.std(),df2.var())
#将每列求和并添加到表尾
#df2.loc['Row_sum'] = df2.apply(lambda x: x.sum())
#将每行求和，计算总成绩
df2['Col_sum'] = df2.apply(lambda x: x.sum(), axis=1)
print(df2)
df2.sort_values('Col_sum', ascending=False)

   Chinese  Math  English
0       66    65       30
1       95    76       98
2       93    86       88
3       90    88       77
4       80    90       90
          Chinese  Math  English
ZhangFei       66    65       30
GuanYu         95    76       98
LiuBei         93    86       88
DianWei        90    88       77
XuChu          80    90       90
Chinese    84.8
Math       81.0
English    76.6
dtype: float64 Chinese    66
Math       65
English    30
dtype: int64 Chinese    95
Math       90
English    98
dtype: int64 Chinese    11.987493
Math       10.440307
English    27.107195
dtype: float64 Chinese    143.7
Math       109.0
English    734.8
dtype: float64
          Chinese  Math  English  Col_sum
ZhangFei       66    65       30      161
GuanYu         95    76       98      269
LiuBei         93    86       88      267
DianWei        90    88       77      255
XuChu          80    90       90      260

          Chinese  Math  English  Col_sum
GuanYu         95    76       98      269
LiuBei         93    86       88      267
XuChu          80    90       90      260
DianWei        90    88       77      255
ZhangFei       66    65       30      161